<div class="div-container-dialog">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add user</h1>

    <div mat-dialog-content>
        <form class="full-width">
            <!-- street -->
            <mat-form-field class="full-width">
                <mat-label>Street</mat-label>
                <input [disabled]="loading" name="street" [(ngModel)]="user.street" matInput placeholder="Street">
            </mat-form-field>
            <!-- postCode -->
            <mat-form-field class="padd-ri">
                <mat-label>Postcode</mat-label>
                <input [disabled]="loading" name="postCode" [(ngModel)]="user.postCode" matInput placeholder="Postcode">
            </mat-form-field>
            <!-- city -->
            <mat-form-field>
                <mat-label>City</mat-label>
                <input [disabled]="loading" name="city" [(ngModel)]="user.city" matInput placeholder="City">
            </mat-form-field>
        </form>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-button [mat-dialog-close]="" (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
</div>